<div class="container py-3">
<h2 class="text-center">PRODUCTS</h2>
  <div class="row g-3">
    {{#each response.payload}}
      {{#if this.stock}}
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex justify-content-center">

        <div class="card" style="width: 18rem;height: 100%;">
           <a style="height: 100%;" href="/products/{{this._id}}">
          {{#if this.thumbnail}}
            <img class="product-img border" src="{{this.thumbnail.[0]}}" class="card-img-top" alt="...">
          {{else}}
            <img class="product-img border" src="/images/no-images.jpg" class="card-img-top" alt="...">
          {{/if}}
           </a>
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-title fw-bold">{{this.title}}</p>
            <p class="card-text">Stock: {{this.stock}}</p>
            <p class="card-text">Price:$ {{this.price}}</p>
            <div class="d-flex justify-content-between">
              {{#if ../user.isUser}}  
                <button type="button" class="btn btn-outline-success w-100"  onclick="addToCart('{{../user.cart}}','{{this._id}}')">Add to cart</button>
              {{/if}}
              {{#if ../user.isPremium}}  
                <button type="button" class="btn btn-outline-success w-100"  onclick="addToCart('{{../user.cart}}','{{this._id}}')">Add to cart</button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    {{/each}}
    <div class="col-12">
      <div class="text-center my-3">
        {{#if response.hasPrevPage}}
          <a href="{{response.prevLink}}"><button
              class="btn btn-outline-dark me-3"
            > << Prev</button></a>
        {{else}}
          <button disabled class="btn btn-outline-dark">Prev</button>
        {{/if}}
        {{#if response.hasNextPage}}
          <a href="{{response.nextLink}}"><button
              class="btn btn-outline-dark"
            >Next >></button></a>
        {{else}}
          <button disabled class="btn btn-outline-dark">Next</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>