<div class="container py-3">
  <h1>{{title}}</h1>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item"><span class="fw-bold">DESCRIPTION:</span>
          {{description}}</li>
        <li class="list-group-item"><span class="fw-bold">CODE:</span>
          {{code}}</li>
        <li class="list-group-item"><span class="fw-bold">PRICE:</span>
          ${{price}}</li>
        <li class="list-group-item"><span class="fw-bold">STOCK:</span>
          {{stock}}</li>
        <li class="list-group-item"><span class="fw-bold">CATEGORY:</span>
          {{category}}</li>
      </ul>
      {{#if user.isUser}}
        <button
          class="btn btn-outline-success w-100 mt-3 mb-4"
          onclick="addToCart('{{user.cart}}','{{this._id}}')"
        >Add to cart</button>
      {{/if}}
      {{#if user.isPremium}}
        <button
          class="btn btn-outline-success w-100 mt-3 mb-4"
          onclick="addToCart('{{user.cart}}','{{this._id}}')"
        >Add to cart</button>
      {{/if}}
    </div>
    <div class="col-12 col-lg-8">
      <div class="row justify-content-center">
        {{#if thumbnail}}
          {{#each thumbnail}}
            <div class="col-12 col-lg-4 mb-3">
              <img class="product-img border rounded-3" src="{{this}}" alt="" />
            </div>
          {{/each}}
        {{else}}
          <div class="col-12 col-lg-6 mb-3">
            <img
              class="product-img border rounded-3"
              src="/images/no-images.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
        {{/if}}
      </div>
    </div>

  </div>
</div>