<div class="container">
  <h1>Product Detail</h1>
  <div class="row">
    <div class="col-12">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">description</th>
              <th scope="col">code</th>
              <th scope="col">price</th>
              <th scope="col">status</th>
              <th scope="col">stock</th>
              <th scope="col">category</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{title}}</td>
              <td>{{description}}</td>
              <td>{{code}}</td>
              <td>${{price}}</td>
              <td>{{status}}</td>
              <td>{{stock}}</td>
              <td>{{category}}</td>
              <td>
                <button
                  class="btn btn-success"
                  onclick="addToCart('{{user.cart}}','{{_id}}')"
                >Agregar a carrito</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>