<div class="container">
  <h1>Real Time Products</h1>
  <div class="row">

    <div class="col-12 col-xl-4">
      <div class="row">
        <div class="col-12">
          <h2>ADD PRODUCT</h2>

          <form id="formAddProduct" class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="title">Title</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="title"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="description">Description</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="description"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="code">Code</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="code"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="price">Price</label>
              <input
                class="form-control form-control-sm"
                type="number"
                id="price"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="stock">Stock</label>
              <input
                class="form-control form-control-sm"
                type="number"
                id="stock"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="category">Category</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="category"
              />
            </div>

            <label for="file1" class="form-label text-uppercase">
              File 1
            </label>
            <input
              class="form-control form-control-sm"
              type="file"
              id="file1"
            />
            <label for="file2" class="form-label text-uppercase">
              File 2
            </label>
            <input
              class="form-control form-control-sm"
              type="file"
              id="file2"
            />
            <label for="file3" class="form-label text-uppercase">
              File 3
            </label>
            <input
              class="form-control form-control-sm"
              type="file"
              id="file3"
            />

            <div class="col-md-6">
              <button class="btn btn-primary" id="addProduct">Add</button>
            </div>
          </form>

        </div>
      </div>

    </div>
    <div class="col-12 col-xl-8">
      <h2>List of Products</h2>
      <div class="table-responsive">

        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Code</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col">Status</th>
              <th scope="col">Category</th>
              <th scope="col">Owner</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id="tbody-products">
            {{#each products}}
              <tr>
                <td>{{this.title}}</td>
                <td>{{this.code}}</td>
                <td>${{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.status}}</td>
                <td>{{this.category}}</td>
                <td>{{this.owner}}</td>
                <td><button
                    class="btn btn-outline-danger btn-sm"
                    onclick="deleteProduct('{{this._id}}')"
                  >x</button></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>